- @page_title = "Contacting The Medical Aesthetic Clinic"

= partial :'partials/on-the-move'

#primary
  %h1 How to contact us

  .float.left
    %img(src='/images/clinic.jpg' alt='The Medical Aesthetic Clinic on Southgate Street, Winchester')

  %p You can find us at Basepoint business centre, Winchester.
  %p We are open 10am &ndash; 5pm on weekdays except for Wednesdays when we close at 2pm.
  %p On Tuesdays we are open until 7pm for evening appointments.
  %p We also open every other Saturday, 10am &ndash; 1pm. Please ask for further details. 

  .clear

  .float.right
    = partial :'partials/map'

  %p
    The Medical Aesthetic Clinic
    %br
    Basepoint Business Centre
    %br
    Unit 10
    %br
    1 Winnall Valley Road
    %br
    Winchester
    %br
    SO23 0LD

  %p
    Contact us by phone or email:
    %br
    01962 840400
    %br
    = partial :'partials/email-address'

  %p
    %a{href: "https://maps.google.co.uk/maps?q=Basepoint+Business+Centres,+Winnall+Valley+Road,+Winchester&hl=en&ll=51.066367,-1.299112&spn=0.004544,0.006813&sll=51.058606,-1.305184&sspn=0.01818,0.027251&oq=basepoint+&t=h&hq=Basepoint+Business+Centres,+Winnall+Valley+Road,+Winchester&radius=15000&z=17", target: '_blank'} Find us on Google Maps &gt;

#secondary
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
