#home
  = partial :'partials/on-the-move'

  .half.left
    = partial :'partials/special-offer-home-page'
  .half.right
    .call-today Call today to book your free consultation on 01962 840400
    = partial :'partials/gift-vouchers'
    = partial :'partials/find-us'

  .clear

  .welcome
    .text
      %h2 Welcome to the Medical Aesthetic Clinic
      %p We are a nurse-led clinic specialising in medical aesthetics. At the forefront of advanced beauty, offering an affordable range of some of the most sophisticated non-surgical, anti-aging products and treatments available in the market today.
    .picture
      %img(src='/images/claudia.jpg')

  .testimonial
    .picture
      %img(src='/images/lucy.jpg')
    .text
      %h2 Testimonial
      %p "Cathy is highly experienced and ensures you are well informed about any procedure you may be considering, and that the treatment she is giving is perfectly suited to your individual needs."

      %strong
        Clinics in Winchester, Andover Leisure Centre and North London.

  .treatment-list
    = partial :'partials/treatments/list'

  .product-list
    = partial :'partials/products/list'
