- @page_title = "The Medical Aesthetic Clinic - Useful and Related Links"

#primary
  %h1 Useful and related links

  = partial :'partials/link', locals: {uri: 'http://www.hotelduvin.com/hotels/winchester/', title: 'Hotel Du Vin Winchester', description: 'A unique luxury boutique hotel, situated across the road from The Medical Aesthetic Clinic.'}

  = partial :'partials/link', locals: {uri: 'http://uk-plastic-surgeon.co.uk/', title: 'Nicholas Bennett FRCS.', description: 'Plastic Surgery in Hampshire for breast augmentation, breast reduction, liposuction and abdominoplasty.'}

  = partial :'partials/link', locals: {uri: 'http://excelphotonix.com/', title: 'excelphotonix - Pulsar IPL', description: 'For more information about permanent hair reduction and photorejuvenation.'}

  = partial :'partials/link', locals: {uri: 'http://www.athnutrition.co.uk/', title: 'Andew Hawthorn - Personal Trainer', description: "A personal trainer who will come to the client's home"}

  = partial :'partials/link', locals: {uri: 'http://aimeerivers.com/', title: 'aimee rivers', description: 'Creator and maintainer of this website.'}

#secondary
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
