- @page_title = "Dermal Fillers - Restylane - Juv&eacute;derm - at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Dermal Fillers

  = partial :'partials/special-offer', locals: {current_page: 'dermal-fillers', type: 'primary'}

  %h2 Overview

  .float.left
    %img(src='/images/treatments/dermal-fillers/restylane-close-up-female.jpg' alt="Restylane close-up female face")

  %p Fine lines, wrinkles and skin folds can now be successfully improved with Restylane or Juv&eacute;derm, giving immediate results.

  %p Whether you're looking for defined facial contours, fuller lips or softened facial lines, these dermal fillers bring out the best in you &mdash; instantly and naturally.

  %p Because they degrade slowly over time, you have the freedom to do what you want, when you want. You are always in control of your looks.

  .clear

  .float.right
    %img(src='/images/treatments/dermal-fillers/restylane-close-up-male.jpg' alt="Restylane close-up male face")
  %h3 Natural on the inside

  %p Restylane is a crystal-clear gel form of hyaluronic acid, a substance that occurs naturally in the body. Hyaluronic acid holds water, hydrating and giving volume to the skin. As we get older the production of our natural hyaluronic acid diminishes. A simple injection of Restylane replenishes the lost volume and improves your looks by enhancing your facial profile, creating fuller lips, and smoothing out lines and wrinkles.

  %h3 Natural on the outside

  %p In less time than a lunch break, you can have a Restylane treatment and then get on with your usual life. There's no need for any pre-testing and you'll see the result instantly. The effect will typically last 6 months to over a year. The length of time Restylane lasts is specific to each individual and the area treated.

  .clear

  .float.left
    %img(src='/images/treatments/dermal-fillers/restylane-females.jpg' alt="Restylane group photo")

  %h3 An instant beauty lift

  %p Restylane is the ideal treatment for instantly enhancing your looks in a completely natural way. Restylane works from the inside by adding volume. Restylane is not a beauty cream and it is not surgery &mdash; it is an instant beauty lift to enhance your looks naturally.

  %p Restylane has been used safely in over 2 million treatments so you can be reassured that it has a proven safety track record.

  .clear

  %h2 Before/After Pictures

  - key = 'dermal-fillers'

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'lower-face-before-restylane-treatment.jpg', before_text: 'Lower face before Restylane treatment', after_image: 'lower-face-after-restylane-treatment.jpg', after_text: 'Lower face after Restylane treatment', main_text: 'Lower face, before and after Restylane treatment.'}

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'upper-lip-before-filler-treatment.jpg', before_text: 'Upper lip before filler treatment', after_image: 'upper-lip-after-filler-treatment.jpg', after_text: 'Upper lip after filler treatment', main_text: 'Upper lip, before and after filler treatment.'}

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'upper-face-before-restylane-treatment.jpg', before_text: 'Upper face before Restylane treatment', after_image: 'upper-face-after-restylane-treatment.jpg', after_text: 'Upper face after Restylane treatment', main_text: 'Upper face &mdash; glabella &mdash; before and after filler treatment.'}

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'full-face-before-restylane-treatment.jpg', before_text: 'Full face before Restylane treatment', after_image: 'full-face-after-restylane-treatment.jpg', after_text: 'Full face after Restylane treatment', main_text: 'Full face, before and after Restylane treatment.'}

#secondary
  = partial :'partials/treatments/dermal-fillers/faq'
  = partial :'partials/treatments/dermal-fillers/prices'
  = partial :'partials/gift-vouchers'
  = partial :'partials/special-offer', locals: {current_page: 'dermal-fillers', type: 'secondary'}
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
  = partial :'partials/find-us'
