- @page_title = "Genuine Dermaroller&trade; Therapy - Natural skin regeneration and scar repair therapy available at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Genuine Dermaroller&trade; Therapy

  = partial :'partials/special-offer', locals: {current_page: 'dermaroller'}

  %h2 Overview

  %p Genuine Dermaroller&trade; Therapy can significantly improve the appearance of:
  %ul
    %li Acne scars
    %li Aged and sun damaged skin
    %li Facial and d&eacute;collet&eacute; lines and wrinkles

  %p Genuine Dermaroller&trade; Therapy provides advanced micro-medical skin-needling, a procedure that stimulates the skin to regenerate and repair itself naturally and safely, creating smoother, brighter, healthier, younger-looking skin.

  %h2 Procedure

  %p Your practitioner will use a Genuine Dermaroller&trade; medical device to produce thousands of micro-medical needle-columns in the skin.  Each column will penetrate into the dermis of the skin and will be approximately 0.1mm in width. The column will close rapidly enabling the skin to recover quickly &mdash; often in the same day. Your practitioner will use a topical anaesthetic to numb the skin making the procedure comfortable; it will normally take up to 30 minutes for the topical anaesthetic to work and 20 &ndash; 30 minutes for the Genuine Dermaroller&trade; Therapy procedure.

  %p After a procedure your body will start to naturally regenerate and repair the skin, working below the surface in the dermis. This takes time as new collagen is formed, new skin cells are generated and blood supply is enhanced. It can take up to 6 weeks before visible signs of regeneration and repair are seen and the process will continue over the following months, providing you with a natural and long lasting enhancement.

  %p Your practitioner will normally recommend that your Genuine Dermaroller&trade; Therapy consists of a series of 2 &ndash; 3 procedures with approximately 6 weeks between them. 

  %p In the treatment of acne scars and other types of scarring it may be necessary for your practitioner to extend your Genuine Dermaroller&trade; Therapy.

  %h2 Before/After Pictures
  - key = 'dermaroller'

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'acne-scarring-before-dermaroller-treatment.jpg', before_text: 'Acne scarring before dermaroller treatment', after_image: 'acne-scarring-improvement-after-two-dermaroller-treatments.jpg', after_text: 'Acne scarring improvement after two dermaroller treatments', main_text: 'Acne scars improvement after two Dermaroller&trade; procedures.'}

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'acne-scarring-and-pigmentation-before-dermaroller-treatment.jpg', before_text: 'Acne scarring and pigmentation before dermaroller treatment', after_image: 'acne-scarring-and-pigmentation-improvement-after-one-dermaroller-treatment.jpg', after_text: 'Acne scarring and pigmentation improvement after one dermaroller treatment', main_text: 'Acne scars and pigmentation improvement after one Dermaroller&trade; procedure.'}

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'wrinkles-and-pigmentation-before-dermaroller-treatment.jpg', before_text: 'Wrinkles and pigmentation before dermaroller treatment', after_image: 'wrinkles-and-pigmentation-improvement-three-months-after-one-dermaroller-treatment.jpg', after_text: 'Wrinkles and pigmentation improvement three months after one dermaroller treatment', main_text: 'Lines, wrinkles and pigmentation improvement three months after one Dermaroller&trade; procedure.'}

  = partial :'partials/treatments/before-after', locals: {key: key, before_image: 'stretch-marks-before-dermaroller-treatment.jpg', before_text: 'Stretch marks before dermaroller treatment', after_image: 'stretch-marks-improvement-after-four-dermaroller-treatments.jpg', after_text: 'Stretch marks improvement after four dermaroller treatments', main_text: 'Stretch mark width reduction and pigmentation improvement after four Dermaroller&trade; procedures.'}

#secondary
  = partial :'partials/treatments/dermaroller/prices'
  = partial :'partials/boxes/gift-vouchers'
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
  = partial :'partials/boxes/find-us'
  = partial :'partials/boxes/special-offer', locals: {current_page: 'dermaroller'}
