- @page_title = "Microdermabrasion treatment at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Microdermabrasion treatment

  %h2 Overview

  .float.right.small
    %img(src='/images/treatments/microdermabrasion/microdermabrasion-treatment-223.jpg' alt='Microdermabrasion treatment')

  %p Synergie takes microdermabrasion to a new level. Synergie combines microdermabrasion with facial vacuum massage and a traditional facial, resulting in unmatched results and the epitome of pampering.

  %p A Synergie Peel treatment is the most effective way to exfoliate and rejuvenate the skin. A typical treatment regimen consists of six treatments which last about 45 minutes each. Since the 10-step treatment protocol includes microdermabrasion, sessions should be approximately 10 days apart.

  %p The Ultimate Facial, a Synergie exclusive, is the total solution for healthier skin that looks and feels great. Synergie works from the inside out because beauty is more than skin-deep.

  %h2 Benefits of Microdermabrasion

  .float.right.small
    %img(src='/images/treatments/microdermabrasion/microdermabrasion-223.jpg' alt='Microdermabrasion')

  %ul
    %li Diminishes fine lines and wrinkles
    %li Reduces hyperpigmentation
    %li Improves appearance of superficial skin damage caused by aging or sun exposure
    %li Reduces enlarged pores
    %li Increases circulation for healthier skin
    %li Cleanses, tones, moisturises, and exfoliates for smoother skin
    %li Safe, relaxing, and enjoyable treatment provides optimal stress relief

  %h2 Synergie Treatments

  %h3 Traditional Facial
  %p Enjoy the relaxing and stimulating experience of the traditional facial consisting of cleansing, toning, hydrating with a mask, and moisturising. These steps enhance the application and results of the vacuum massage and microdermabrasion treatments, resulting in the most enjoyable and effective treatment on the market.

  %h3 Vacuum-Assisted Massage
  %p Vacuum massage with the Synergie AMS&trade; facial treatment heads provides optimal stimplation of the skin and the underlying tissues. This revolutionary aesthetic treatment gives you a deep, relaxing, comfortable massage while exfoliating the skin and increasing circulation.

  %h3 Microdermabrasion
  %p A Synergie Peel microdermabrasion treatment is the most effective way to exfoliate and rejuvenate the skin. This safe and gentle procedure, known as the "lunchtime peel", requires no recuperative period &mdash; you can go right back to your daily activities with no interruptions.

#secondary
  = partial :'partials/treatments/microdermabrasion/prices'
  = partial :'partials/gift-vouchers'
  = partial :'partials/special-offer', locals: {current_page: 'microdermabrasion', type: 'secondary'}
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
  = partial :'partials/find-us'
