- @page_title = "Sclerotherapy treatment at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Sclerotherapy treatment

  %h2 Overview

  %p Thread veins in the legs can be unsightly and embarassing for some people. Now there is a treatment that will improve their appearance.

  %h2 Patient Information

  %ol
    %li Sclerotherapy involves the use of a tiny needle to flush a small amount of a medication into the thread veins to cause them to dissolve away.
    %li We will not be able to get rid of every thread vein but we will try to decrease the venous appearance of your legs with gradual lightening of the thread veins with each session.
    %li You may feel a very slight pricking sensation as the injections are being performed.
    %li After the first day of treatment, the skin around the vein is a little pink and blotchy. Occasionally people with more sensitive skin see more pinkness or reaction around the vein. Usually a bruise is noted at the treated site. This usually disappears after a few weeks but in some cases may take months to fade.
    %li A length of tubigrip will be used to cover the treated area after injection. This should be left on for 24 hours. Please remember to bring the tubigrip back for use at your next session. Alternatively, you may prefer to wear your own support tights.
    %li Do not use any creams, oils, lotions, tanning, or perfumed products on the area on the treatment day, or the day after.
    %li Do not have a very hot bath or shower, or use any additional bath products on the treatment day, or the day after.
    %li You should avoid prolonged sitting, pounding type of exercise, squatting and heavy weight lifting after the treatment. You are encouraged to walk after the treatment.
    %li You are advised to avoid alcohol and aspirin 24 hours before and after treatment.

  %p Possible complications of sclerotherapy include:

  %ul
    %li
      %strong Pigmentation
      &ndash; a result of staining caused by small amounts of blood just under the skin surface.
    %li
      %strong Staining
      &ndash; faint brown marks left by the vein walls as they are dissolving.
    %li
      %strong Telangiectatic matting
      &ndash; very fine small blushes of capillaries left as larger thread veins regress.
    %li
      %strong Skin necrosis
      &ndash; a shallow ulcer can occur at the site of injection. This is unusual and always heals.
    %li
      %strong Allergic reactions
      &ndash; very unlikely and have not been reported with the solution used at The Medical Aesthetic Clinic.

#secondary
  = partial :'partials/treatments/sclerotherapy/faq'
  = partial :'partials/treatments/sclerotherapy/prices'
  = partial :'partials/treatments/list'
  = partial :'partials/gift-vouchers'
  = partial :'partials/special-offer', locals: {current_page: 'sclerotherapy', type: 'secondary'}
  = partial :'partials/find-us'
