- @page_title = "Wrinkle Relaxing Injections at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Wrinkle Relaxing Injections

  = partial :'partials/special-offer', locals: {current_page: 'wrinkle-relaxing-injections', type: 'primary'}

  %h2 Overview

  %p Facial lines are caused by the repeated use of the facial muscles in a particular manner. Just as a freshly ironed shirt will become severely creased, for example at the elbow as a result of bending the arm, in a similar way our facial lines form whenever we frown, squint or smile. Some people have a distinctive facial habit &mdash; grimacing, raising eyebrows, using one side of the face more than the other &mdash; and in time they will see a set of facial lines appear which reflect this individual habit.

  %p
    Lines can be softened or in some cases erased by means of 'filler injections' or surgical/laser peel treatment. These treatment processes vary as to how effective they are and how long they last, however, they all have one common characteristic: the
    %em effect
    is being treated rather than the
    %em cause.
    Unsightly facial lines have already been formed and these are continually reinforced every time we frown or squint.

  %p
    The Medical Aesthetic Clinic's 'Hibernation' Treatment is different in that it is a
    %em preventative
    approach. Injections are given, usually to the forehead frown area, which temporarily weakens the frown muscles and thus puts them to sleep for a period of 3 to 6 months. The weakening of the muscles is always temporary and can never be permanent which is why the treatment is called 'The Hibernation Treatment' since the muscle temporarily 'hibernates'.

  %p The basic aim is to break the habit of frowning and educate the patient in their facial movements so that in effect the patient forgets how to frown.

  %p Usually a patient will have several of these injections over a number of years until the frowning habit is broken.

  %h2 Benefits

  %p Apart from the habit breaking aim, other positive benefits include:

  %ul
    %li While the muscle is temporarily immobilised, the forehead is 'at rest' and the frown line is not being created or reinforced.
    %li Most patients notice that their existing frown lines do soften out because the forehead is completely relaxed.
    %li It is generally agreed that frowning is an unpleasant habit, which tends to spoil the serenity and beauty of the face. After the treatment, although all the many other facial muscles can be used normally, the forehead remains still and calm and thus the face appears more serene. Patients have even commented that they feel this calmness within themselves.
    %li Facial lines can sometimes be markedly lopsided due to overactive muscles on one side of the face. This treatment can be used to selectively weaken such muscles thereby balancing the resting tone for both sides of the face.

  %h2 Detailed Information

  %p The injection procedure takes about 5 to 10 minutes. The practitioner will ask you to frown hard, so that the exact pattern of forehead and frown movement is clearly seen for each individual patient. The injections are slightly uncomfortable but quite brief. For example the Hibernation Treatment is less sore than 'Filler' injections.

  %p Afterwards, there will be some tiny red marks for approximately one hour where the micro-bore needle was inserted. The injection starts to take effect after 2 to 4 days and you will feel that it is becoming more difficult to frown. After about two weeks the maximum effect will be apparent.

  %p Very occasionally an individual patient may require more than the usual injection amount and a 'top-up' injection may be required. Some patients who have well exercised and developed frown muscles (more common in men) may need a second injection. It is good clinical practise to inject a conservative amount of the treatment and then add more if required.

  %p It must be emphasised that the injection is intended to make it difficult to frown since we all frown subconsciously and this treatment prevents inadvertent frowning. Some patients will 'test' the effectiveness of the injection by standing in front of their mirror and trying very hard to frown! In some cases the patient may indeed be able to use some of the frowning muscles a little if they are forced. This does not mean that the injection has not been effective.

  %p
    The substance that is injected is
    %strong botulinum toxin
    which has been in use for over 20 years as an accepted form of treatment for squints and nervous ticks. The substance cannot cause any permanent damage by unwanted travel within the body because it becomes attached to the muscle itself and thus cannot migrate. The injection technique that is used ensures that the substance cannot pass into the bloodstream. The action on the muscle is never permanent thus the patient's frown is frozen into 'hibernation' for several months.

  %p Due to poor tone of the muscle some older patients may feel heaviness over the eyebrows which can lasts for 2 to 3 weeks. A lower dose is therefore used in such patients to prevent this from happening.

  %p Very rarely, some patients become resistant to the drug after several treatments, i.e. it no longer works effectively. In this unlikely event alternative forms of botulinum toxin are available to avoid this problem.

#secondary
  = partial :'partials/treatments/wrinkle-relaxing-injections/prices'
  = partial :'partials/gift-vouchers'
  = partial :'partials/special-offer', locals: {current_page: 'wrinkle-relaxing-injections', type: 'secondary'}
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
  = partial :'partials/find-us'
