- @page_title = "iS CLINICAL&reg; available at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 iS CLINICAL&reg;
  %p by INNOVATIVE SKINCARE&reg;

  = partial :'partials/special-offer', locals: {current_page: 'is-clinical', type: 'primary'}

  .float.left
    %img(src='/images/products/is-clinical/is-clinical-range-303.jpg' alt='Range of iS CLINICAL&reg; products')

  %p INNOVATIVE SKINCARE&reg; is dedicated to developing clinically validated skincare products that improve the physical and emotional well-being of people globally, employing the highest ethical standards to advance the science of skin health, one face at a time.

  %p iS CLINICAL&reg;, the exclusive skincare brand from INNOVATIVE SKINCARE&reg;, is comprised of exceptional, long-term "results-oriented" anti-aging and optimizing skincare formulations.

  %p By developing and utilizing the most advanced research technology, INNOVATIVE SKINCARE&reg; doctors and scientists meticulously design and create products that conclusively deliver rapid and safe, long-term, positive results.

  %h1#fire-and-ice Fire and Ice

  = partial :'partials/special-offer', locals: {current_page: 'fire-and-ice', type: 'primary'}

  .float.right
    %img(src='/images/products/is-clinical/fire-and-ice-303.jpg' alt='Fire and Ice')

  %p This intensive clinical facial is designed to rapidly and safely resurface the skin, reducing fine lines and wrinkles, smoothing, softening, and encouraging cellular renewal. The centrepiece of this remarkable treatment system is a combination of two therapeutic masques.

  %p
    The extremely powerful
    %strong INTENSIVE RESURFACING MASQUE
    is clinically formulated with: sugar cane extract (a source of glycolic acid) (18%), citric acid, apple extract, retinol (vitamin A), niacinamide (vitamin B3), and potent antioxidants &ndash; including green tea extract.

  %p
    The second masque is the
    %strong REJUVENATING MASQUE
    which is a soothing hydrating treatment formulated with sodium hyaluronate (hyaluronic acid), aloe vera, green tea extract, licorice extract, grape seed extract, and rosemary extract.

  %p In addition to the professional-only masques, this incredible facial masque is complemented by a unique combination of serums and cr&egrave;mes. Awakening your senses, this phenomenal system incorporates both active and soothing formulas, which evoke aromas of warm cinnamon spice and brisk cool peppermint

#secondary
  = partial :'partials/special-offer', locals: {current_page: 'fire-and-ice', type: 'secondary'}
  = partial :'partials/find-us'
  = partial :'partials/products/list'
  = partial :'partials/treatments/list'
