- @page_title = "Jan Marini skin research available at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Jan Marini skin research

  = partial :'partials/special-offer', locals: {current_page: 'jan-marini', type: 'primary'}

  %p
    We recommend and supply
    %strong Jan Marini
    products, which can be purchased at the Clinic.

  %img.no-border(src='/images/products/jan-marini/jan-marini-range-623.jpg' alt='Range of Jan Marini products')

  %p These are medically-based technological products using pharmaceutical grade ingredients with countless years of research. These products are not available over the counter; you must be seen by a qualified skin-care professional such as a doctor or nurse. We will happily advise you on the most suitable products.

  .float.right
    %img(src='/images/products/jan-marini/jan-marini-travel-system-303.jpg' alt='Jan Marini travel system')

  %p The Jan Marini range incorporates over 70 products to treat a wide range of skin conditions, from signs of ageing like wrinkles and sun damage, to common skin problems including acne, rosacea and skin discolouration.

  %p All of these conditions can be measurably improved by the use of her specialised formulations.

  %p
    Also available:
    %a(href='/treatments/jan-marini-facials') Jan Marini facials

  .clear

  %h2 Videos

  %p Jan discusses how to treat acne in adults:
  %iframe(width='420' height='315' src='http://www.youtube.com/embed/Ib8Lhmiw5jM' frameborder='0' allowfullscreen)

  %p Keep your skin in the best condition by following Jan's recommendations:
  %iframe(width='420' height='315' src='http://www.youtube.com/embed/UlMLQZqT0Gs' frameborder='0' allowfullscreen)

  %p
    More information can be found at
    %a(href='http://www.janmarini.com/') www.janmarini.com

#secondary
  = partial :'partials/gift-vouchers'
  = partial :'partials/find-us'
  = partial :'partials/products/list'
  = partial :'partials/treatments/list'
  = partial :'partials/special-offer', locals: {current_page: 'jan-marini', type: 'secondary'}
