- @page_title = "Jan Marini skin research available at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Jan Marini skin research

  = partial :'partials/special-offer', locals: {current_page: 'jan-marini', type: 'primary'}

  %p
    We recommend and supply
    %strong Jan Marini
    products, which can be purchased at the Clinic.

  %img.no-border(src='/images/products/jan-marini/jan-marini-range-623.jpg' alt='Range of Jan Marini products')

  %p These are medically-based technological products using pharmaceutical grade ingredients with countless years of research. These products are not available over the counter; you must be seen by a qualified skin-care professional such as a doctor or nurse. We will happily advise you on the most suitable products.

  .float.right
    %img(src='/images/products/jan-marini/jan-marini-travel-system-303.jpg' alt='Jan Marini travel system')

  %p The Jan Marini range incorporates over 70 products to treat a wide range of skin conditions, from signs of ageing like wrinkles and sun damage, to common skin problems including acne, rosacea and skin discolouration.

  %p All of these conditions can be measurably improved by the use of her specialised formulations.

  .clear

  %h2 Videos

  <object width="305" height="252"><param name="movie" value="http://www.youtube.com/v/Ib8Lhmiw5jM&hl=en_GB&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Ib8Lhmiw5jM&hl=en_GB&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="305" height="252"></embed></object>
  %p Jan discusses how to treat acne in adults.

  <object width="305" height="252"><param name="movie" value="http://www.youtube.com/v/UlMLQZqT0Gs&hl=en_GB&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/UlMLQZqT0Gs&hl=en_GB&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="305" height="252"></embed></object> 
  %p Keep your skin in the best condition by following Jan's recommendations.

  %p
    More information can be found at
    %a(href='http://www.janmarini.com/') www.janmarini.com

#secondary
  = partial :'partials/gift-vouchers'
  = partial :'partials/find-us'
  = partial :'partials/products/list'
  = partial :'partials/treatments/list'
  = partial :'partials/special-offer', locals: {current_page: 'jan-marini', type: 'secondary'}
